<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="klizer_aiconversion_track_cart"
                  instance="Klizer\AiCommerceConversion\Observer\TrackCart"/>
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="klizer_aiconversion_track_checkout"
                  instance="Klizer\AiCommerceConversion\Observer\TrackCheckout"/>
    </event>
</config>
